<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Расчет соотношения матрица-наполнитель</title>
</head>
<body style="background-color:#baffb9;">
    <h1 font-family:verdana;">Расчет соотношения матрица-наполнитель</h1>
    <form action="" method="post">
    <fieldset>
        <legend>Введите параметры</legend>
    <p>
	    <label for="plot">Плотность, кг/м3</label>
	    <input type="text" name="plot" required> (Известный диапазон 1784 - 2162)
    </p><p>
	    <label for="mup">Модуль упругости, ГПа</label>
	    <input type="text" name="mup" required> (Известный диапазон 2 - 1649)
    </p><p>
	    <label for="ko">Количество отвердителя, м.%</label>
	    <input type="text" name="ko" required> (Известный диапазон 39 - 182)
    </p><p>
        <label for="seg">Содержание эпоксидных групп,%_2</label>
	    <input type="text" name="seg" required> (Известный диапазон 16 - 29)
    </p><p>
        <label for="tv">Температура вспышки, С_2</label>
	    <input type="text" name="tv" required> (Известный диапазон 179 - 386)
    </p><p>
        <label for="pp">Поверхностная плотность, г/м2</label>
	    <input type="text" name="pp" required> (Известный диапазон 1 - 1291)
    </p><p>
        <label for="mup">Модуль упругости при растяжении, ГПа</label>
	    <input type="text" name="mupr" required> (Известный диапазон 66 - 81)
    </p><p>
        <label for="pr">Прочность при растяжении, МПа</label>
	    <input type="text" name="pr" required> (Известный диапазон 1250 - 3706)
    </p><p>
        <label for="ps">Потребление смолы, г/м2</label>
	    <input type="text" name="ps" required> (Известный диапазон 64 - 359)
    </p><p>
        <label for="un">Угол нашивки, град</label>
	    <input type="text" name="un" required> (0 или 90)
    </p><p>
        <label for="shn">Шаг нашивки</label>
	    <input type="text" name="shn" required> (Известный диапазон 0 - 14)
    </p><p>
        <label for="pln">Плотность нашивки</label>
	    <input type="text" name="pln" required> (Известный диапазон 27 - 86)
	</p>
    </fieldset>
	<p>
	    <input type="submit" value="Рассчитать">
        <input type="reset">
	</p>
    </form>
    <p>
        {% if message %}
            <p><b>{{message}}</b></p>
        {% endif %}
    </p>
</body>
</html>
